<div class="p-2 w-100" v-if="initialContent">
    <div class="card" style="margin-top: 5px;">
        <h5 class="card-header">String Transforms</h5>
        <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <p class="card-text">Please select one of our transforms from the transforms card on the left to begin.</p>
        </div>
    </div>
</div>
